In [40]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from scipy import stats

import matplotlib as mpl
import glob
import datetime as dt
from datetime import datetime
import matplotlib.dates 
import matplotlib.dates as mdates

# Study data files
pm25_data_path = "../Resources/aqi.csv"
ozone_data_path = "../Resources/ozone.csv"
#Traffic_Data = "data/MNDOT.csv"

# Read the PM2.5 data and the Ozone Data
pm25_data = pd.read_csv(pm25_data_path)
ozone_data = pd.read_csv(ozone_data_path)

#Combine all AQI files
Combined_AQI_csv=pd.merge(pm25_data,ozone_data,on="Date",how="inner")
#Export to CSV
Combined_AQI_csv.to_csv( "../Resources/Combined_AQI_csv.csv", index=False)
Combined_AQI_csv.head()

,Date,Source_x,Site ID_x,POC_x,Daily Mean PM2.5 Concentration,UNITS_x,DAILY_AQI_VALUE_x,Site Name_x,DAILY_OBS_COUNT_x,PERCENT_COMPLETE_x,...,STATE_CODE_y,STATE_y,COUNTY_CODE_y,COUNTY_y,SITE_LATITUDE_y,SITE_LONGITUDE_y,day_y,month_y,year_y,unix_y
0,3/18/15,AQS,270530962,3,9.4,ug/m3 LC,39,Near Road I-35/I-94,1,100,...,27.0,Minnesota,53.0,Hennepin,44.965242,-93.254759,18,3,2015,1426636800
1,3/19/15,AQS,270530962,3,9.9,ug/m3 LC,41,Near Road I-35/I-94,1,100,...,27.0,Minnesota,53.0,Hennepin,44.965242,-93.254759,19,3,2015,1426723200
2,3/20/15,AQS,270530962,3,12.3,ug/m3 LC,51,Near Road I-35/I-94,1,100,...,27.0,Minnesota,53.0,Hennepin,44.965242,-93.254759,20,3,2015,1426809600
3,3/21/15,AQS,270530962,3,5.3,ug/m3 LC,22,Near Road I-35/I-94,1,100,...,27.0,Minnesota,53.0,Hennepin,44.965242,-93.254759,21,3,2015,1426896000
4,3/22/15,AQS,270530962,3,7.2,ug/m3 LC,30,Near Road I-35/I-94,1,100,...,27.0,Minnesota,53.0,Hennepin,44.965242,-93.254759,22,3,2015,1426982400

In [41]:
#shape of dataframe
Combined_AQI_csv.shape
#data type of each column
Combined_AQI_csv.dtypes
#number of null values
Combined_AQI_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 0 to 1498
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  1499 non-null   object
 1   Source_x                              1499 non-null   object
 2   Site ID_x                             1499 non-null   int64
 3   POC_x                                 1499 non-null   int64
 4   Daily Mean PM2.5 Concentration        1499 non-null   float64
 5   UNITS_x                               1499 non-null   object
 6   DAILY_AQI_VALUE_x                     1499 non-null   int64
 7   Site Name_x                           1499 non-null   object
 8   DAILY_OBS_COUNT_x                     1499 non-null   int64
 9   PERCENT_COMPLETE_x                    1499 non-null   int64
 10  AQS_PARAMETER_CODE_x                  1499 non-null   int64
 11  AQS_PARAMETER_DESC_x                  1499 non-null   object
 12  CBSA_CODE_x                           1499 non-null   int64
 13  CBSA_NAME_x                           1499 non-null   object
 14  STATE_CODE_x                          1499 non-null   int64
 15  STATE_x                               1499 non-null   object
 16  COUNTY_CODE_x                         1499 non-null   int64
 17  COUNTY_x                              1499 non-null   object
 18  SITE_LATITUDE_x                       1499 non-null   float64
 19  SITE_LONGITUDE_x                      1499 non-null   float64
 20  day_x                                 1499 non-null   int64
 21  month_x                               1499 non-null   int64
 22  year_x                                1499 non-null   int64
 23  unix_x                                1499 non-null   int64
 24  Source_y                              1499 non-null   object
 25  Site ID_y                             1499 non-null   float64
 26  POC_y                                 1499 non-null   float64
 27  Daily Max 8-hour Ozone Concentration  1499 non-null   float64
 28  UNITS_y                               1499 non-null   object
 29  DAILY_AQI_VALUE_y                     1499 non-null   float64
 30  Site Name_y                           1499 non-null   object
 31  DAILY_OBS_COUNT_y                     1499 non-null   float64
 32  PERCENT_COMPLETE_y                    1499 non-null   float64
 33  AQS_PARAMETER_CODE_y                  1499 non-null   float64
 34  AQS_PARAMETER_DESC_y                  1499 non-null   object
 35  CBSA_CODE_y                           1499 non-null   float64
 36  CBSA_NAME_y                           1499 non-null   object
 37  STATE_CODE_y                          1499 non-null   float64
 38  STATE_y                               1499 non-null   object
 39  COUNTY_CODE_y                         1499 non-null   float64
 40  COUNTY_y                              1499 non-null   object
 41  SITE_LATITUDE_y                       1499 non-null   float64
 42  SITE_LONGITUDE_y                      1499 non-null   float64
 43  day_y                                 1499 non-null   int64
 44  month_y                               1499 non-null   int64
 45  year_y                                1499 non-null   int64
 46  unix_y                                1499 non-null   int64
dtypes: float64(15), int64(17), object(15)
memory usage: 562.1+ KB

In [48]:
plt.style.use('ggplot')
# Scatter of the Daily Mean PM2.5 Concentration
df.Daily Mean PM2.5 Concentration.plot(kind='scatter', color='purple', edgecolor='black', figsize=(20,6))
plt.title('Distribution of PM2.5', size=24)
plt.xlabel('[] (ug/m3 LC)', size=18)
plt.ylabel('time', size=18)
plt.show()

SyntaxError: invalid syntax (<ipython-input-48-ba80321db95b>, line 3)